<link rel="stylesheets/answer_style.css" href="">
<h1 class="text-center">Coaching#answer</h1>

<% your_message = params[:question]  %>

<% def coach_answer_enhanced(your_message)
  # TODO: return coach answer to your_message, with additional custom rules of yours!

  return "" if your_message == "I am going to work right now!"
  return "" if your_message == "I am going to work right now!".upcase
  if your_message == your_message.upcase && your_message[your_message.size - 1] != "?"
    return "I can feel your motivation! I don't care, get dressed and go to work!"
  end
  return "I don't care, get dressed and go to work!" if your_message[your_message.size - 1] != "?"
  if your_message == your_message.upcase
    return "I can feel your motivation! Silly question, get dressed and go to work!"
  end
  return "Silly question, get dressed and go to work!"
end %>

<div class="text-center">
<%= coach_answer_enhanced(your_message) %><br><br>

<%= link_to "ask another question!",  ask_path %>
</div>
