<h1 class="text-center">Coaching#ask</h1>

  <form action="/answer" class="text-center">
    <label for="question">Speak to your coach</label><br><br>
    <input type="text" id="question" name="question" placeholder="what time is it?">
    <input type="submit" value="Go on!">
  </form>

